html{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
/* Главная страница */
.nav-link{
    font-size: 16px;
    color: white;
    padding-left: 70px;
    margin-left: 5px;
    font-weight: bold;
}
.nav-link:hover{
    font-size: 16px;
    color: rgb(214, 213, 213);
    font-weight: bold;
}
.navbar{
    background-color: rgb(22,100,156);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbarF{
  display: none;
}

.map-point {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #00466c;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-60%);
  white-space: nowrap;
  font-size: 18px;
  color: #0371ac;
  font-weight: bold;
}
.blur-overlay {
  position: absolute;
  top: -20px;
  left: -110px;
  width: 700px;
  height: 180px;
  background: rgba(253, 247, 247, 0.699);
  backdrop-filter: blur(35px);
  pointer-events: none;

  mask-image: radial-gradient(circle, rgba(253, 247, 247, 0.884) 40%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(253, 247, 247, 0.884) 40%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 992px) {
  .map-point {
    position: absolute !important;
    width: 12px !important;
    height: 12px !important;
    background-color: #00466c !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    transform: translate(-50%, -50%) !important;
  }
  .text {
    position: absolute !important;
    top: 10px !important;
    left: 50% !important;
    transform: translateX(-60%) !important;
    white-space: nowrap !important;
    font-size: 10px !important;
    color: #0371ac !important;
    font-weight: bold !important;
  }
  .blur-overlay {
    position: absolute;
    top: -20px !important;
    left: -90px !important;
    width: 400px !important;
    height: 107px !important;
    background: rgba(253, 247, 247, 0.699) !important;
    backdrop-filter: blur(35px) !important;
    pointer-events: none !important;
  
    mask-image: radial-gradient(circle, rgba(253, 247, 247, 0.884) 40%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(253, 247, 247, 0.884) 40%, rgba(255, 255, 255, 0) 100%);
  }
  .fixed-top {
    position: static !important;
  }
  .collapse{
    /* padding-top: 5px !important; */
    justify-content: start !important;
  }
  .logo-box{
    top: 5% !important;
    align-items: start !important;
  }
  .logo-box a img{
    vertical-align: top !important;
    position: fixed !important;
    left: 100% !important;
    transform: translate(135%, -80%) !important;
    width: 20vw !important;
    height: auto !important;
    z-index: 15 !important;
  }
  .navbarF{
    display: none;
  }
  .nav-link{
    font-size: 16px;
    color: rgb(214, 213, 213);
    font-weight: bold;
  }
  .card-title{
    font-weight: bold;
    font-size: 28px !important;
    color: #00466c;
  }
  .card-text{
    font-size: 16px !important;
  }
  .card-body{
    position: relative !important;
    margin-top: 30px !important;
    margin-left: 1px !important;
    /* padding-left: 1px !important;
    padding-top: 1px !important; */
  }
  .imageKarta{
    margin-top: 10px !important;
  }
  .news{
    margin-top: 150px !important;
  }
  .news .newsHeader{
    font-size: 28px !important;
  }
  .nwBt, .cardWr{
    margin-left: -30px !important;
  }
  .cardNw{
    /* padding-top: 1px !important; */
    padding-left: 60px !important;
    font-size: 14px !important;
    color: black !important;
    font-weight: bold !important;
  }
  .logoMe{
    padding-top: 150px !important;
  }
  .part3{
    font-size: 28px !important;
    margin-top: 5px !important;
    margin-left: 30px !important;
  }
  .part5{
    margin-top: 10px !important;
    margin-left: 30px !important;
    font-size: 16px !important;
  }
  .carousel-inner{
    width: 200px !important;
    height: 200px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 70px !important;
  }
  .btnEX{
    background-color: #00466c !important;
    margin-top: 25px !important;
    margin-left: 60px !important;
    border: #00466c !important;
    width: 70px !important;
    height: 35px !important;
    border-radius: 5% !important;
  }
  .infoP{
    margin-top: 15px !important;
  }
  .card-bodyCP, .img-fluidCP{
    margin-top: 50px !important;
    padding-left: 30px !important;
  }
  .img-fluidCP{
    width: 300px !important;
    height: auto !important;
    margin-top: 10px !important;
  }
  .RukFull{
    color: #00466c !important;
    font-size: 28px !important;
  }
  .fullInfoCp{
    font-size: 18px !important;
  }
  .RukFull, .fullInfoCp{
    margin-top: 30px !important;
    padding-left: 10px !important;
  }
  .nameSfer, .infoSfer{
    margin-top: 30px !important;
    padding-left: 30px !important;
  }
  .nameSfer{
    margin-top: 100px !important;
  }
  .Rabota{
    margin-top: 100px !important;
    color: #00466c;
  }
  .Rabota, .Slesar, .Obyz, .treb, .uslov{
    padding-left: 20px !important;
  }
  .newsInCp, .newsInCpP{
    padding-left: 20px !important;
  }
  .newsInCp{
    color: #00466c !important;
    margin-top: 100px !important;
    font-size: 28px !important;
  }
  .newsInCpP{
    font-size: 18px !important;
  }
  /* .container{
    margin-top: 30px !important;
  } */
}

@media (max-width: 768px) {
  html {
      font-size: 16px;
  }
  .navbar {
    display: none !important;
  }
  .navbarF{
    display: block !important;
  }
  .map-point {
    position: absolute !important;
    width: 15px !important;
    height: 15px !important;
    background-color: #00466c !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    transform: translate(-50%, -50%) !important;
  }
  .text {
    position: absolute !important;
    top: 12px !important;
    left: 50% !important;
    transform: translateX(-60%) !important;
    white-space: nowrap !important;
    font-size: 12px !important;
    color: #0371ac !important;
    font-weight: bold !important;
  }
  .blur-overlay {
    position: absolute;
    top: -20px !important;
    left: -90px !important;
    width: 400px !important;
    height: 120px !important;
    background: rgba(253, 247, 247, 0.699) !important;
    backdrop-filter: blur(35px) !important;
    pointer-events: none !important;
  
    mask-image: radial-gradient(circle, rgba(253, 247, 247, 0.884) 40%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(253, 247, 247, 0.884) 40%, rgba(255, 255, 255, 0) 100%);
  }
  .nav-link{
    font-size: 16px;
    color: rgb(214, 213, 213);
    font-weight: bold;
  }
  .card-title{
    font-weight: bold;
    font-size: 28px !important;
    color: #00466c;
  }
  .card-text{
    font-size: 16px !important;
  }
  .card-body{
    position: relative !important;
    margin-top: 10px !important;
    margin-left: 1px !important;
    /* padding-left: 1px !important;
    padding-top: 1px !important; */
  }
  .news{
    margin-top: 150px !important;
    padding-left: 20px !important;
  }
  .news .newsHeader{
    font-size: 28px !important;
  }
  .newsHeader{
    margin-left: 10px !important;
    margin-top: 150px;
  }
  .nwBt, .cardWr{
    margin-left: -30px !important;
  }
  .cardNw{
    /* padding-top: 1px !important; */
    padding-left: 60px !important;
    font-size: 14px !important;
    color: black !important;
    font-weight: bold !important;
  }
  .container{
    margin-top: 10px !important;
  }
  .logoMe{
    padding-top: 150px !important;
  }
  .part3{
    font-size: 28px !important;
    margin-top: 100px !important;
    margin-left: 30px !important;
  }
  .part5{
    margin-top: 10px !important;
    margin-left: 30px !important;
    font-size: 16px !important;
  }
  .carousel-inner{
    width: 200px !important;
    height: 200px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 70px !important;
  }
  .btnEX{
    background-color: #00466c !important;
    margin-top: 50px !important;
    margin-left: 10px !important;
    border: #00466c !important;
    width: 70px !important;
    height: 35px !important;
    border-radius: 5% !important;
  }
  .card-bodyCP, .img-fluidCP{
    margin-top: 50px !important;
    padding-left: 30px !important;
  }
  .img-fluidCP{
    width: 300px !important;
    height: auto !important;
    margin-top: 10px !important;
  }
  .RukFull{
    color: #00466c !important;
    font-size: 28px !important;
  }
  .fullInfoCp{
    font-size: 18px !important;
  }
  .RukFull, .fullInfoCp{
    margin-top: 30px !important;
    padding-left: 10px !important;
  }
  .nameSfer, .infoSfer{
    margin-top: 30px !important;
    padding-left: 30px !important;
  }
  .nameSfer{
    margin-top: 100px !important;
  }
  .Rabota{
    margin-top: 100px !important;
    color: #00466c;
  }
  .Rabota, .Slesar, .Obyz, .treb, .uslov{
    padding-left: 20px !important;
  }
  .newsInCp, .newsInCpP{
    padding-left: 10px !important;
  }
  .newsInCp{
    color: #00466c !important;
    margin-top: 100px !important;
    font-size: 28px !important;
  }
  
  .newsInCpP{
    font-size: 18px !important;
  }
}
.logo-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    z-index: 15;
}
.card-body{
    margin-top: 50px;
    margin-left: 50px;
}
.content-container {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title{
    font-weight: bold;
    font-size: 56px;
    color: #00466c;
}
.btn{
    border: #00466c;
    background-color: #00466c;
    color: white;
    font-size: 16px;
    height: 40px;
}
.btn:hover{
    background-color: red;
    transition: all 0.5s ease-out;
}
.imageKarta{
    margin-top: 80px;
    position: relative;
}
.logoMe{
    padding-top: 250px;
}
.news{
    margin-top: 100px;
}
.newsHeader{
  margin-top: 150px;
}
.newsHeader, .part3{
    font-size: 42px;
    font-weight: bold;
    color: #00466c;
}
.cardNw{
    margin-top: 30px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.nwBt{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.nwBt:hover{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.carousel-inner{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.part3{
    margin-top: 100px;
    margin-left: 5px;
}
.part5{
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    margin-top: 25px;
    font-weight: normal;
}
.card-title, .card-text, .btn {
    opacity: 0;
    animation: card-title ease-in 1;
    animation: card-text ease-in 1;
    animation: btn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    font-family: 'Roboto', sans-serif;
  }
  @keyframes card-title {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes card-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes btn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*

  /* Порядок */
.btnEX{
    background-color: #00466c;
    margin-top: 300px;
    margin-left: 300px;
    border: #00466c;
    width: 100px;
    height: 35px;
    border-radius: 5%;
}
.infoP h2{
    color: rgb(9, 94, 155);
    font-size: 22px;
    font-weight: bold;
}
.punkt{
    margin-top: 20px;
    font-weight: bold;
}
.punkt a{
    color: rgb(11, 122, 201);
    text-decoration: none;
    
}
ul, .infoP{
    list-style-type: none;
    opacity: 0;
    animation: ul ease-in 1;
    animation: infoP ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes ul {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes infoP {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
/*

/* О нас */
.card-bodyCP, .img-fluidCP{
  margin-top: 150px;
}
.nameSfer{
  color: #00466c;
  font-weight: bold;
}
.nameSfer, .infoSfer{
  font-family: 'Roboto', sans-serif;
  margin-top: 200px;
}
.infoSfer{
  margin-top: 30px;
  margin-right: 100px;
}
.RukFull{
  font-size: 36px;
  padding-left: 35px;
}
.RukFull, .fullInfoCp{
  margin-top: 30px;
}
.imgRuk{
  margin-top: -150px;
}
.Rabota, .Slesar, .Obyz, .podrob, .treb, .uslov{
  font-family: 'Roboto', sans-serif;
}
.Rabota{
  font-weight: bold;
  margin-top: 220px;
  color: #00466c;
}
.Slesar, .Obyz{
  margin-top: 30px;
}
.newsInCp{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #00466c;
  margin-top: 200px;
  font-size: 36px;
}
.newsInCpP{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
